:root {
  font: 16px / 1 sans-serif;
  --dark-primary-color: #512da8;
  --main-accent-color: #ffc107;
  --main-text-color: #212121;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px/1 sans-serif;
}
.Primary-text-color {
  color: var(--main-text-color-dark-background-light-text-add-on-fg);
}
nav {
  width: 100%;
  height: 100%;
}
/* logo title */
.left-nav-section {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0.5 rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(81, 45, 168);
  height: 3.5rem;
}
.sdg-astro-lounge {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  position: absolute;
  left: 6px;
}
.about-header {
  color: #fff;
  padding: 1.25rem;
  text-decoration: underline;
}
.explore-your-universe {
  color: #ffffff;
  align-self: center;
  font-size: 32px;
}
.hero-image {
  background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80");
  height: 25rem;
}
/* .hero-img {
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* width: 100%; 
}*/

.contact-us-header {
  color: #fff;
  padding: 1.25rem;
  text-decoration: underline;
}

.right-nav-section {
  display: flex;
  justify-content: flex-end;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}
.copyright-section {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12.8px;
  color: var(--main-text-color);
}
.title {
  margin: 0;
}
.mission-statement-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
.upcoming-launches-section {
  --main-accent-color: #ffc107;
  background-color: #ffc107;
  /* display: flex; */
  padding: 0.1rem;
  height: 75%;
}
.upcoming-launches-h2 {
  background-color: rgb(255, 193, 7);
}
.launches {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

.right-arrow-button {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 193, 7); */
}
.launch-card-section {
  margin: 1rem 3rem;
  background-color: lightgrey;
  border-radius: .5rem;
  /* height: 10rem; */
  width: 100%;
  padding: 0 1rem .5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.card-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  padding: 2rem;
}
.launch-name {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.launch-description {
  
  padding: 1rem;
}
.launch-countdown {
  padding: 1rem;
}
.launch-location {
  padding: 1rem;
}
.mission-statement-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(209, 196, 233);
}
.our-mission-statement-h2 {
  font-size: 2.3rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 1rem 0 1rem 0.5rem;

  /* outline: 1px solid #314e6e; */
}
.left-arrow-button {
  border-radius: 0 1rem 1rem 0rem;
  width: 5rem;
  /* height: ; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background-color: #ffc107;
  font-size: 2rem;
  position: absolute;
  left: 0;
  margin: 4.9rem 0rem 8rem 0rem;
}
.right-arrow-button {
  border-radius: 1rem 0rem 0rem 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 8rem 0rem 8rem 0rem; */
  background-color: #ffc107;
  font-size: 2rem;
  position: absolute;
  right: 0%;
  margin: 4.9rem 0rem 8rem 0rem;
}
.mission-statement-text {
  text-align: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab7;
  color: #ccc;
}
